services:
  db:
    image: postgres:15
    container_name: pr_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate:4
    container_name: pr_migrations
    depends_on:
      - db
    volumes:
      - ./migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "${DSN}",
      "up"
    ]
    restart: on-failure

  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    container_name: pr_service
    depends_on:
      - db
      - migrate
    environment:
      DATABASE_URL: "${DSN}"
    ports:
      - "8080:8080"
    restart: always

volumes:
  db_data: